    body {
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      margin: 0;
      padding: 10px;
    }
    .logo-panaderia {
      display: block;
      margin: 0 auto 0 auto;
      width: 230px;
      height: 230px;
    }

    .container {
      max-width: 500px;
      margin: auto;
      background: #ddc694;
      padding: 15px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    
    
    .head {
      display: flex;
      align-items: left;
      gap: 10px;
    }
    .head span {
      font-size: 11px;
      font-weight: bold;
      color: #382c00;
    }
  
    input, select {
      width: 98%;
      padding: 5px;
      margin: 5px 0;
      border-radius: 8px;
      border: 2px solid #ccc;
      font-size: 16px;
    }
    .fecha-input {
      width: 95%;
    }

    .separador {
      margin: 20px 0;
      border-top: 1px solid #382c00;
      padding-top: 5px;
    }
    button {
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    .add-btn-descarga{
      background: #4CAF50;
      color: white;
    }
    
    .add-btn-2 {
      background: #6F8890;
      color: white;
    }

    .add-btn-3 {
      background: #6a3998;
      color: white;
    }
    .add-btn{
      background: #e5be01;
      color: white;
    }
    
    .clean-btn {
      background: #B88B5C;
      color: white;
      margin-top: 5px;
    }
    .delete-btn {
      background: #3c2308;
      color: white;
      width: max-content;
      padding: 10px;
      font-size: 12px;
      border-radius: 8px;
      margin-top: 5px;
    }

    .total {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 15px;
    }

    .autocomplete {
      position: relative;
    }

    .sugerencias {
      position: absolute;
      background: white;
      width: 100%;
      max-height: 160px;
      overflow-y: auto;
      z-index: 10;
      border-radius: 8px;
    }

    .sugerencias div {
      padding: 8px;
      cursor: pointer;
    }

    .sugerencias div:hover {
      background: #f0f0f0;
    }
    .gasto {
        border: none; 
        padding: 12px;
        border-radius: 12px;
        margin-top: 12px;
        background: #f3f2f2;
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
        }

    .recaudos {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 10px;
    }

    .campo-recaudo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .tipo-recaudo, label{
        min-width: 130px;
        font-weight: bold;
    }